.react-calendar {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  background-color: #eeeeee; /* navigationに色を加えた */
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px; /* 曜日のfontを大きくした */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; /* 曜日の上下にborderを加えた */
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  position: relative;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  background-color: #dddddd; /* 別の月の日付のbackground-colorを加えた */
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  background: none;
  text-align: center;
  line-height: 16px;
  padding: 50px 6.5px; /* 日付tileにpaddingを加えた */
  position: relative; /* 各要素が相対的になるようにした */
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover {
  background-color: #d7eeff; /* tileをhoverした時のbackground-colorを指定した */
}

.react-calendar__tile--now {
  background-color: #ffffcc; /* 当日のtileのbackground-colorを指定した */
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #fcfcac; /* 当日のtileをhover,focusしたときのbackground-colorを指定した */
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* 日付の位置を各tileの左上に配置した */
.react-calendar__tile abbr {
  position: absolute;
  top: 0;
  left: 0;
}

/* tileをhoverした時にtileの中央に＋がopacity0で表示される */
.create-diary-tile::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #006edc;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* ＋がopacity1で表示される */
.create-diary-tile:hover::before {
  opacity: 1;
}

/* 日記がある日付のtileのbackground-colorを指定した */
.display-diary-tile {
  background-color: #2dff57;
}

.display-diary-tile:enabled:hover {
  background-color: #1de044;
}

/* 日記がある日付のtileのタイトルのcolorを指定した */
.display-diary-tile span {
  color: #333;
}
